<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav>
    <div>
      <a href="/"><img class="homeLinkImg" src="/images/movieRate-image.jpg" /></a>
      <!-- <a class="dropdown-item" href="/movies/popular/1"> Popular Movies </a> -->
      <div class="navDropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Movies </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/movies/popular/1"> Popular </a>
          <a class="dropdown-item" href="/movies/top-rated/1"> Top Rated </a>
        </div>
      </div>
      <div class="navDropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Actors </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/actors/popular/1"> Popular </a>
        </div>
      </div>
      <div class="navDropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Playlists </a>
        <div class="dropdown-menu">
          {{#if currentUser}}
          <a class="dropdown-item" href="/user/playlists/{{currentUser.username}}"> MyPlaylists </a>
          {{/if}}
          <a class="dropdown-item" href="/playlists/list"> All Playlists </a>
        </div>
      </div>
    </div>
    <div>
      <form id="searchForm" action="/actors/search/1" method="post">

        <select name="searchType" onChange=changeAction(this.value)>
          <option value="/actors/search/1">People</option>
          <option value="/movies/search/1">Movies</option>
        </select>

        <label for="searchQuery"></label>
        <input id="searchQuery" type="text" name="searchInput" onChange="changeSearch(this.value)" value="">

        <button type="submit"> Search </button>
      </form>
    </div>
    <div>
      {{#if currentUser}}
        <a href="/user/profile"> <img class="userAvatar" src="{{currentUser.avatar}}" alt="userAvatar"> </a>
        <a href="/auth/logout">Logout</a>
      {{else}}
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
      {{/if}}
    </div>
  </nav>

  {{{body}}}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>
