<div class="{{generalBodyCLass}}">
  <div class="pageTitle"></div>
  <div class="actorInfo">
    <div>
      <img src="{{actor.profile_path}}" alt="{{actor.name}}">
      <h2> <b> {{actor.name}} </b> </h2>

    </div>
    <div>
      {{#if actor.birthday}}
        <h5> <b> Birthday: </b> {{actor.birthday}} </h5>
      {{else}}
        <h5> <b> Birthday: </b> Unknown </h5>
      {{/if}}
      {{#if actor.place_of_birth}}
        <h5> <b> Born in:  </b> {{actor.place_of_birth}} </h5>
      {{else}}
        <h5> <b> Born in: </b> Unknown </h5>
      {{/if}}
      <h5 class="contentDescription"> <b> Biography </b> </h5>
      {{#if actor.biography}}
        <div class="bio">
          <h5> {{actor.biography}} </h5>
        </div>
      {{else}}
        <h5> None </h5>
      {{/if}}
    </div>
  </div>

  <h4 class="contentDescription"> Films </h4>
  <div class="movieList">
    {{#each movies}}
      <div class="movieCard">
        <a href="/movies/details/{{this.id}}"> <img src="{{this.poster_path}}" alt=""> </a>
        <h5> {{this.title}} </h5>
      </div>
    {{/each}}
  </div>
</div>
