<div class="{{generalBodyCLass}}">
  <h2 class="pageTitle"> {{pageTitle}} Playlist </h2>
  <div class="playlistDescriptionsAndComments">
    <div>
      <h3> <span class="contentDescription"> Description </span> </h3>
      <div>
        <div>
          <p class="playlistDescription"> {{playlist.description}} </p>
        </div>
        <div>
          <h5> User Rating: &nbsp{{userRating}} / 10 </h5>
        </div>
      </div>
    </div>
    <div>
      <div>
        <h3> <span class="contentDescription"> Comments </span> </h3>
        <!-- Button trigger modal -->
        <a href="#" class="nav-link" data-toggle="modal" data-target="#addPlaylistCommentForm"> Add a Comment </a>
        <!-- Modal -->
        <div class="modal fade" id="addPlaylistCommentForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class=" commentModal modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Add Your Comment </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="playlistCommentForm" action="/playlists/addComment/{{playlist._id}}" method="post">
                  <div class="">
                    <label for="ratingInput"> <span class="requiredSpan"> * </span> Rating </label>
                    <input id="ratingInput" type="number" name="rating" min="1" max="10" value="" required>
                  </div>
                  <br>
                  <div class="">
                    <label for="commentInput"> <span class="requiredSpan"> * </span> Comment </label>
                    <textarea id="commentInput" type="text" name="comment" value="" required rows="6" cols="28"></textarea>
                  </div>
                  <br>
                  <button class="btn btn-secondary" type="submit"> Add Comment </button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playlistComments">
        {{#if playlist.comments}}
          {{#each playlist.comments}}
            <div class="commentCard">
              <div>
                <div>
                  <div>
                    <img src="{{this.author.avatar}}" alt="user avatar">
                    <h4> {{this.author.username}} </h4>
                  </div>
                </div>
                <div>
                  <h5> {{this.rating}} / 10 </h5>
                  {{#if this.editable}}
                    {{!-- <h5 class="commentEdit">edit</h5> --}}
                    <div class="navDropdown commentDropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <img src="/images/tripleDotVertical.png" alt="triple dot"> </a>

                      <div class="dropdown-menu commentDropdownMenu">
                        <form action="/playlists/deleteCommentFromPlaylist/{{this._id}}/{{../playlist._id}}" method="post"><button class="dropdown-item" type="submit"> Delete </button></form>

                        <!-- Button trigger modal -->
                        <a href="#" class="nav-link dropdown-item" data-toggle="modal" data-target="#editPlaylistCommentForm{{@index}}"> Edit </a>

                      </div>
                    </div>

                    {{!-- <form class="commentEdit" action="/playlists/editComment/{{this._id}}" method="post">
                      <button class="" type="submit"> Edit </button>
                    </form> --}}


                  {{/if}}
                  <!-- Modal -->
                  <div class="modal fade" id="editPlaylistCommentForm{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class=" commentModal modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle"> Edit Your Comment </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form class="playlistCommentForm" action="/playlists/editComment/{{this._id}}" method="post">
                            <div class="">
                              <label for="ratingInput"> <span class="requiredSpan"> * </span> Rating </label>
                              <input id="ratingInput" type="number" name="rating" min="1" max="10" value="{{this.rating}}" required>
                            </div>
                            <br>
                            <div class="">
                              <label for="commentInput"> <span class="requiredSpan"> * </span> Comment </label>
                              <textarea id="commentInput" type="text" name="comment" value="" required rows="6" cols="28">{{this.comment}}</textarea>
                            </div>
                            <br>
                            <button class="btn btn-secondary" type="submit"> Update Comment </button>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div>
                <p> {{this.comment}} </p>
              </div>
            </div>
          {{/each}}
        {{else}}
          <h5> No Comments to Display </h5>
        {{/if}}

      </div>
    </div>
  </div>
  {{!-- <div class=""> --}}
    {{#if playlist.moviesList}}
      <div class="movieList">
        {{#each playlist.moviesList}}
          <div class="movieCard">
            {{#if ../deletable}}
              <form class="playlistRemoveMovieForm" action="/playlists/deleteFromPlaylist/{{this._id}}/{{../playlist._id}}" method="post"><button type="submit">X</button></form>
            {{/if}}
            <a href="/movies/details/{{this.tmdbId}}"> <img src="{{this.imageUrl}}" alt=""> </a>
            <h5> {{this.title}} </h5>
          </div>
        {{/each}}
      </div>
    {{else}}
      <h4> You have not added movies to this playlist </h4>
    {{/if}}
  {{!-- </div> --}}


</div>
